.i-upload-photo

	&__wrap
		max-height 500px
		transition max-height 0.2s ease-out

		&_mod_hidden
			overflow hidden
			max-height 0

	&__btn
		opacity 1
		transition opacity 0.2s ease-out

		&_mod_hidden
			opacity 0
			pointer-events none