{% extends 'layout.jinja2' %}

{% block page %}
	<nav class="navbar">
		<div class="container">
			<ul class="nav navbar-nav navbar-right">
				{% if user %}
					{% block navbar_btn_sign_out %}<li><a href="{{ url('user-sign-out') }}" role="button" class="btn btn-default navbar-btn">Sign out</a></li>{% endblock %}
				{% else %}
					{% block navbar_btn_sign_up %}<li><a href="{{ url('user-sign-up') }}" role="button" class="btn btn-success navbar-btn">sign up</a></li>{% endblock %}
					{% block navbar_btn_sign_in %}<li><a href="{{ url('user-sign-in') }}" role="button" class="btn btn-default navbar-btn">sign in</a></li>{% endblock %}
				{% endif %}
			</ul>
		</div>
	</nav>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
{% endblock %}