*.pyc
.DS_Store
._*
/.vagrant
/.settings
/.project
/.pydevproject
*.sublime-workspace
*.sublime-project
/.idea
/instagram/settings/production.py
/instagram/settings/develop.py
/media
/reports
/static/dest
/node_modules

