boto==2.38.0
Django==1.8.5
Jinja2==2.8.0
Pillow==3.0.0
django-crispy-forms==1.5.2
django-imagekit==3.2.7
django-jinja==1.4.1
django-storages==1.1.8
pilkit==1.1.13
psycopg2==2.6.1
pytils==0.3
pytz==2015.6
requests==2.8.1
