.i-timeline
	margin 20px auto
	display flex
	flex-wrap wrap

	&__item
		margin 0 5% 5% 0
		width 30%

		@media (max-width: 768px)
			&
				margin 0 10% 10% 0
				width 45%

		@media (max-width: 450px)
			&
				margin 0 20% 20% 0
				width 100%