.i-dialog-photo
	display flex
	flex-wrap nowrap

	@media (max-width: 450px)
		&
			flex-wrap wrap

	&__image
		background #000
		max-width 100%
		max-height 100%

	&__caption
		width 400px
		box-sizing border-box
		padding 0 30px
		position relative

		@media (max-width: 450px)
			&
				padding 30px 0
				width 100%

		& h3
			margin-top 0

	&__close
		padding 15px
		position absolute
		right -15px
		top -15px
		cursor pointer

		@media (max-width: 450px)
			&
				top 0
