.i-dialog-photo
	padding 14px
	display flex
	flex-wrap nowrap
	background #fff
	border 3px #000 solid

	@media (max-width: 450px)
		&
			flex-wrap wrap

	&__image
		background #000
		max-width 100%
		max-height 100%

		& img
			width 100%
			max-height calc(100vh - 34px)

	&__caption
		width 400px
		box-sizing border-box
		padding 0 30px
		position relative

		@media (max-width: 450px)
			&
				padding 30px 0
				width 100%

		& h3
			margin-top 0

	&__close
		padding 15px
		position absolute
		right -15px
		top -15px
		cursor pointer

		@media (max-width: 450px)
			&
				top 0

	&__wrap[open]
		position fixed
		top 0
		bottom 0
		left 0
		right 0
		display flex
		justify-content center
		align-items center
		align-content center
		background transparent
		border none