{% extends 'timeline/base_timeline.jinja2' %}

{% block content %}
	<div class="i-upload-photo"></div>
	{{ crispy(form) }}
{% endblock %}

{#% block javascript %}
	window.apps.UploadPhoto();
{% endblock %#}